body {
	background-color: beige;
	margin: 0;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1 {
	font-family:Arial, Helvetica, sans-serif;
	text-align: center;
}

nav {
	display: flex;
	justify-content: center;
	text-decoration: none;
}

ul {
	display: flex;
	gap: 20px;
}

li {
	list-style-type: none;
}

nav ul li a {
	font-weight: bold;
	width: 200px;
	padding: 10px;
	color: #ffffff;
	background: #0006CC;
	text-align: center;
}

.offpage {
	position: absolute;
	left: -1000px;
}

.offpage:focus {
	left: 0px;
}

a:hover {
	background: #B3B3B3;
	color: #0006CC;
}

a:focus {
	outline: 4px solid red;
	background: yellow;
}

/*a {
	display: block;
}*/

#main_content {
/*	display:flex;
	justify-content: center;*/
	display: grid;
	grid-template-columns: 33% 33% 33%;
}

/*article {
	text-align: center;
	width: 33.33%;
}*/

.about div {
	display: grid;
	grid-template-columns: 100%;
	justify-content: center;
	grid-gap: 30px;
}

img {
	width: 60%;
	border-radius: 15%;
}

#bourse {
	width: 100%;
}

#gallery {
	font-weight: bold;
	width: 200px;
	padding: 10px;
	color: #ffffff;
	background: #0006CC;
	text-align: center;
}

img:active {
	background: yellow;
}

footer {
	background-color: lightblue;
	text-align: center;
	width: 100%;
	line-height: 75px;
}

button {
	font-size: 25px;
}

#container {
	flex: 1;
}

@media screen and (max-width: 700px) {
	ul {
		display: block;
	}
	nav ul li a {
		font-weight: bold;
		width: 20%;
		padding: 0px;
		color: white;
		text-align: center;
	}
	#main_content {
		display: block;
	}
	h3 {
		text-decoration: underline;
		text-align: center;
	}
	p {
		text-align: center;
	}
	img {
		width: 50%;
		display: block;
		margin: auto;
	}
}

@media screen and (min-width: 1200px) {
	body {
		background-color: greenyellow;
	}
}
